{% extends 'layout.html' %}
{% block content %}
    <h2>Lista de Integrantes </h2>
    <hr>
    <h3>Yhamir Maldonado Vanegas</h3>
    <a href="https://github.com/yhamirMaldonado/UC3_Parte01.git">Link de Git Hub</a>
    <h3>Diego Vega Gamarra</h3>
    <a href="https://github.com/Diegovg145/UC3-Parte02-.git">Link de Git Hub</a>
    <h3>Diego Laura Rodriguez</h3>
    <a href="https://github.com/zStynx/UC3_Parte3LauraDiego.git">Link de Git Hub</a>
    <h3>Leonardo Breña Santi</h3>
    <a href="https://github.com/LeonardoBrena/UC3-Parte04.git">Link de Git Hub</a>
{% endblock  %}